html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2 {
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.container--big {
    max-width: 1382px;
}

.header {
    padding: 33px 0;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-menu {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    padding-top: 4px;
}

.main-menu li+li {
    margin-left: 42px;
}

.main-menu a {
    color: #121212;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.header__button {
    border-radius: 100px;
    background: #121212;
    padding: 11px 22px 11px 21px;
    box-sizing: border-box;


    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}


.hero {}

.hero__row {
    display: flex;
    justify-content: space-between;
}

.hero__left {
    width: 47.6%;
}

.hero__right {

    width: 49.2%;

}


.hero__ {}

.hero__ {}

.hero__ {}

.hero__ {}

.hero__ {}

.offer {}

.offer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 24px;
    height: 270px;
}

.offer__link img:first-child {
    position: absolute;
    bottom: 20%;
    right: -7.7%;
    z-index: 20;
}

.offer__link img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.offer__link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;

    border-radius: 24px;
    background: linear-gradient(134deg, rgba(18, 18, 18, 0.30) 0%, rgba(18, 18, 18, 0.00) 100%);
}

.offer__text {
    position: relative;
    z-index: 50;
    color: #FCFCFC;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero__offer {
    margin-bottom: 45px;
}

.teg__item {
    display: inline-flex;
    padding: 8px 18px;
    border-radius: 4px;
    background: rgba(13, 50, 239, 0.10);
    color: #0E33F0;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.button-with-icons {
    margin-top: 64px;
    display: inline-flex;
    align-items: center;
    border-radius: 100px;
    background: linear-gradient(135deg, #3857F6 0%, #0B30EF 100%);
    padding: 10px 20px 10px 10px;
    box-sizing: border-box;
    color: #FCFCFC;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
    transition: .3s;
}

.icon-book {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    margin-right: 24px;
}

.icon-arrow-down {
    height: 24px;
    width: 24px;
    margin-left: 16px;
    stroke: #fff;
    flex-shrink: 0;
    transition: .3s;
}

.button-with-icons:hover {
    background: linear-gradient(135deg, #3857F6 100%, #0B30EF 0%);

}

.button-with-icons:hover .icon-arrow-down {
    stroke: red;
}


.slider {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 24px;

    display: flex;
    align-items: flex-end;
    padding: 40px;
    box-sizing: border-box;
}

.slider:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #121212;
    opacity: .4;
}

.pagination {
    position: relative;
    z-index: 50;
    display: flex;
    width: 100%;
}

.pagination__item {
    border-radius: 100px;
    opacity: 0.6;
    background: #FFF;
    height: 10px;
    width: 100%;
}

.pagination__item--active {
    opacity: 1;
}

.pagination__item+.pagination__item {
    margin-left: 28px;
}

.title {
    color: #121212;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero__title {
    margin: 20px 0 40px;
}

.desc {
    color: rgba(18, 18, 18, 0.50);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
}

/* .hero__desc {
    margin-bottom: 65px;
} */
.man {
    margin: 152px 0 24px;
    border-top: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    background: rgba(14, 51, 240, 0.10) url("../images/messages.svg");
    background-position: center right;
    background-repeat: no-repeat;

}

.man .container {
    position: relative;
}

.man__image {
    position: absolute;
    left: -5.4%;
    top: 0;
}

.man__content {
    position: relative;
    z-index: 10;
    width: 50%;
    margin-left: auto;
    padding: 55px 0;
}

.undertitle {
    color: rgba(18, 18, 18, 0.50);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.man__undertitle {
    margin: 10px 0 30px;
}

.places {
    position: relative;
    padding: 120px 0 140px;
    border-top: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    background: #EFEFEF url('../images/location.svg');
    background-repeat: no-repeat;
    background-position: left 76px;
}

.places__content {
    position: relative;
    width: 50%;
    z-index: 10;
}

.form {
    display: flex;
    align-items: center;
}

.places__desc {
    margin: 40px 0 95px;
}

.form__icon {
    margin: 0 7px;
    stroke: #5756CF;
    flex-shrink: 0;
}

.form__button {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-image: url("../images/btn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 0;
    outline: 0;
    flex-shrink: 0;
    margin-left: 20px;

}

.form__input {
    border-radius: 100px;
    background: #FFF;
    padding: 16px 26px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #999B9D;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form__input::placeholder {
    color: #999B9D;
}

@media (max-width:1300px) {
    .offer__link img:nth-child(2) {
        object-position: right;
    }

    .offer__link {
        text-align: center;
    }
}

@media (max-width:768px) {
    .hero__row {
        flex-direction: column-reverse;
    }

    .hero__left,
    .hero__right {
        width: 100%;
    }

    .hero__right {
        height: 400px;
        margin-bottom: 30px;
    }

    .main-menu {
        display: none;
    }
}



.map-item__value {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
    background: linear-gradient(135deg, #3857F6 0%, #0B30EF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FCFCFC;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
    box-sizing: border-box;
    /* 25.2px */
}

.map-item__value::after {
    content: '';
    height: 16px;
    width: 16px;
    position: absolute;
    top: 100%;

    left: 50%;
    transform: translateX(-50%);
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.map-item__region {
    display: inline-flex;
    padding: 5px 10px;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    line-height: 180%;
    /* 25.2px */



}

.map-item__name {
    background: linear-gradient(135deg, #3857F6 0%, #0B30EF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.map-item__icon {
    margin-left: 10px;
    stroke: #3857F6;
    flex-shrink: 0;
}

.places__map {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -24.5%;
}

.map-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.places {
    overflow: hidden;
}

.map-item--1 {
    right: 82%;
    top: 15%;
}

.map-item--2 {
    right: 30%;
    top: 16%;
}

.map-item--3 {
    right: 49%;
    top: 38%;
}

.map-item--4 {
    right: 67%;
    top: 63%;
}

.map-item__value {
    margin-bottom: 10px;
}


.packages {
    padding: 110px 0 80px;
}

.packages-item__row {
    display: flex;
    justify-content: space-between;

}

.packages-item__image,
.packages-item__content {
    width: 48%;
}

.packages-item__image img {
    border-radius: 24px;
}


.packages-item+.packages-item {
    margin-top: 150px;
}

.packages-item__counter {
    border-radius: 100px;
    background: #ACD3EC;
    display: inline-flex;
    padding: 4px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 17px 0;
}

.packages-item__subtitle {
    color: #1D1D1D;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 30px 0 5px;
}